header {
        background: #CCCCCC;
        padding: 20px 0;



    }
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav li {
    display: inline; /* Deixar lado a lado o texto */
    margin: 0 0 0 15px; /* espaçamento */
    
}

nav a {
    text-transform: uppercase; /* para transformar para letras MAIUSCULAS */
    color: #000000;
    font-weight: bold; /* deixar em negrito */
    font-size: 22px;
    text-decoration: none; /* sem nenhuma decoração no texto */
}

nav a:hover{
    color: #c78c19; /* Aplicar cor nos botões de direcionamentos de outras páginas */
    text-decoration: underline; /* ficar sublinhado */


}

nav {
    position: absolute;
    top: 110px;
    right: 20px;


}
.produtos li {
    display: inline-block; /* deixar um do lado do outro */
    text-align: center;
    width: 30%; /* Largura */
    vertical-align: top;
    margin: 0 1.5%; /* Espaçamento externo */
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px; /* arredondar as bordas */
    
    
    

}

.produtos li :hover {
    color: #c78c19;
    font-size: 40px;
    border-color: blue;
    
}
.produtos li :active {
    border-color: indigo;
}
.produtos li :hover h2 {
    font-size: 10px;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0; /* Espaçamento interno */
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold; /* negrito */
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.produto-descricao {
    font-size: 18px;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {

    color: white;
    font-size: 13px;
    margin: 20px 0;
    

}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;   
}

form label, form p {
    display: block;
    font-size: 20px;
    margin: 0 10px;

}
.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px; /* 10px equivalente pra cima/baixo e 25px para os lados, A propriedade padding serve para alterarmos o espaçamento interno, entre o conteúdo e a borda. */
    width: 50%; /* largura */
}

.checkbox {
    margin: 20px;


}






 
